<div class="sidebar">

    <div class="logo">

        <h3>
            <i class="fa-solid fa-shield-halved"></i>
            SOC-in-a-Box
        </h3>

    </div>

    <ul>

        <li>
            <a href="/">
                <i class="fa-solid fa-house"></i>
                Dashboard
            </a>
        </li>

        <li>
            <a href="/threat-intelligence">
                <i class="fa-solid fa-earth-americas"></i>
                Threat Intelligence
            </a>
        </li>

        <li>
            <a href="/log-collection">
                <i class="fa-solid fa-file-lines"></i>
                Log Collection
            </a>
        </li>

        <li>
            <a href="/threat-detection">
                <i class="fa-solid fa-crosshairs"></i>
                Threat Detection
            </a>
        </li>

        <li>
            <a href="/incident-response">
                <i class="fa-solid fa-triangle-exclamation"></i>
                Incident Response
            </a>
        </li>

        <li>
            <a href="/reports">
                <i class="fa-solid fa-chart-column"></i>
                Reports
            </a>
        </li>

        <li>
            <a href="/settings">
                <i class="fa-solid fa-gear"></i>
                Settings
            </a>
        </li>

    </ul>

</div>